body{
    height: 1000px;
    margin: 0; 
}


.icons{  
    margin-left: 10px;
}

.form-control{
    max-width: 100px;
}

.sales_content{
    border:1px solid black;
    margin-top: 100px; 
}



.container_2{
    margin-top:400px;
}







